.header {
  display: flex;
  grid-area: header;
  background-color: #203040;
  color: #ffffff;

  height: 50px;
  font-weight: 600;
  justify-items: center;
  padding: 0.5rem;
}

.store__name {
  flex: 1;
}

.cart__icons {
}
